  <!-- ################# Events Start Here#######################--->
  <section class="events row ">
    <div class="container col-12 row justify-content-between">
        <div class="session-title">
            <h2>Our Events</h2>
            <p>{{sabeel.aboutSabeel.eventsGoal}}</p> 
        </div>
        <div class="event-ro row ">
            <div class="col-md-4 col-sm-6 container">
                <div class="event-box card">
                    <img src="../../../assets/Images/image_04.jpg" alt="">
                    <h4>Child Tackling Modern Youth</h4>
                    <p class="raises"><span>Price : $0</span> Free</p>
                    <p class="desic">Stay Tuned tonight for the full announcement of the first event of its type in AUC, named " في سبيل الوعي Tackling Modern Youth". </p>
                    <button class="btn btn-success btn-sm p-2 rounded-bottom-4">Join Now</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 container">
                <div class="event-box  card">
                    <img src="../../../assets/Images/image_06.jpg" alt="">
                    <h4>"Leadership and beyond" workshop</h4>
                    <p class="raises"><span>Price : $0</span> Free </p>
                    <p class="desic">The workshop is presented by Eng. Sameh Abdelzahir - an internationally certified leadership and communication coach.
                        Waiting For you all!!! </p>
                    <button class="btn btn-success btn-sm p-2 rounded-bottom-4">Join Now</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 container">
                <div class="event-box  card">
                    <img src="../../../assets/Images/image_08.jpg" alt="">
                    <h4>Tackling Modern Youth</h4>
                    <p class="raises"><span>Price : $0</span> Free </p>
                    <p class="desic">Sabeel Foundation is thrilled to announce that, registration is now open for "Tackling the Modern Youth" event.</p>
                    <button class="btn btn-success btn-sm p-2 rounded-bottom-4">Join Now</button>
                </div>
            </div>
        </div>
    </div>
</section>   
