<section class="container-fluid mission-vision">
        <div class="row mission">
            <div class="col-md-6 mv-det">
                <h1>Our Mission</h1>
                <p>{{sabeel.aboutSabeel.mission}}</p>
            </div>
            <div class="col-md-6 mv-img">
                <img src="../assets/Images/misin.jpg" alt="">
            </div>
        </div>
        <div class="row vision">
            <div class="col-md-6 mv-img">
                 <img src="../assets/Images/vision.jpg" alt="">
            </div>
            <div class="col-md-6 mv-det">
                 <h1>Our Vision</h1>
                 <p>{{sabeel.aboutSabeel.vision}}</p>
            </div>
        </div>
</section> 