<footer class="footer">
    <div class="container">
        <div class="row justify-content-center align-content-between">
            <div class="col-md-4 col-sm-12 p-4 justify-content-center">
                <h2>About Us</h2>
                <p>
                    {{sabeel.aboutSabeel.about1}} <br>
                </p>
                <p>{{sabeel.aboutSabeel.about2}} </p>
            </div>
            <div class="col-md-4 col-sm-12 p-4 justify-content-center">
                <h2>Useful Links</h2>
                <ul class="list-unstyled link-list">
                    <li><a ui-sref="about" href="#/about">About us</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="Mission" href="#/portfolio">Mission</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="Vision" href="#/products">Vision</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="Events" href="#/gallery">Events</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="Meat Our Team" href="#/gallery">Meat Our Team</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="contact" href="#/contact">Contact us</a><i class="fa fa-angle-right"></i></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 map-img p-4 justify-content-center">
                <h2>Contact Us</h2>
                <address class="md-margin-bottom-40">
                    Sabeel Organization <br>
                    {{sabeel.contacts.address}} <br>
                    Phone: {{sabeel.contacts.phoneNumber}} <br>
                    Email: <a href="mailto:info@anybiz.com" class="">{{sabeel.contacts.email}}</a><br>
                    Web: <a href="smart-eye.html" class="">www.sabeel.com</a> <br>
                    <span class="socialMediaLogos col-lg-4 col-md-12 ">
                        <fa-icon [icon]="faFacebook" class="icon"></fa-icon>
                        <fa-icon [icon]="faInstagram" class="icon"></fa-icon>
                        <fa-icon [icon]="faLinkedin" class="icon"></fa-icon>
                        <fa-icon [icon]="faTwitter" class="icon"></fa-icon>
                        <fa-icon [icon]="faYoutube" class="icon"></fa-icon>
                    </span>
                </address>

            </div>
        </div>
    </div>
    

</footer>
