<div class="about-us container-fluid">
    <div class="container">
        <div class="row natur-row no-margin w-100">
            <div class="text-part col-md-6">
                <h2 class="aboutsabeel">About <span>S</span>abeel</h2>
                <p>{{sabeel.aboutSabeel.about1}}</p>
                <p>{{sabeel.aboutSabeel.about2}}</p>
                <p>{{sabeel.aboutSabeel.about3}}</p>
            </div>
            <div class="image-part col-md-6">
                <div class="about-quick-box row">
                    <div class="col-md-6">
                        <div class="about-qcard">
                            <fa-icon [icon]="faUser" class="icon1"></fa-icon>
                            <p>Become a Volunteer</p>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="about-qcard ">
                            <fa-icon [icon]="faMoneyBillWave" class="icon2"></fa-icon>
                            <p>Quick Fundrais</p>
                        </div>
                    </div>
                    
                     <div class="col-md-6">
                        <div class="about-qcard ">
                            <fa-icon [icon]="faDonate" class="icon3"></fa-icon>
                            <p>Giv Donation</p>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="about-qcard ">
                            <fa-icon [icon]="faHandshakeAngle" class="icon4"></fa-icon>
                            <p>Help Someone</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>     


