<div class="about-us container-fluid">
    <div class="container">
        <div class="row natur-row no-margin w-100">
            <div class="text-part col-md-6">
                <h2 class="aboutsabeel">About <span>S</span>abeel</h2>
                <p>Sabeel is a dynamic and innovative youth-centered organization 
                    dedicated to cultivating the growth of intellectually empowered individuals 
                    deeply inspired by the richness of Arab culture, identity, and ideology. </p>
                <p> At the core of our mission is the cultivation of critical thinking and the encouragement of creativity among our members. We believe in instilling a profound sense of curiosity and exploration, empowering young minds to engage thoughtfully with the world around them while embracing the values and traditions of the Arab world.</p>
                <p> Our diverse range of programs and initiatives is meticulously designed to foster a spirit of questioning and inquiry. Whether it's through educational workshops, cultural exchanges, or community projects, we strive to provide avenues for personal growth and societal impact. </p>
            </div>
            <div class="image-part col-md-6">
                <div class="about-quick-box row">
                    <div class="col-md-6">
                        <div class="about-qcard">
                            <fa-icon [icon]="faUser" class="icon1"></fa-icon>
                            <p>Become a Volunteer</p>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="about-qcard ">
                            <fa-icon [icon]="faMoneyBillWave" class="icon2"></fa-icon>
                            <p>Quick Fundrais</p>
                        </div>
                    </div>
                    
                     <div class="col-md-6">
                        <div class="about-qcard ">
                            <fa-icon [icon]="faDonate" class="icon3"></fa-icon>
                            <p>Giv Donation</p>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="about-qcard ">
                            <fa-icon [icon]="faHandshakeAngle" class="icon4"></fa-icon>
                            <p>Help Someone</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>     


