* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-image: url("../../../assets/Images/SabeelBackground.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
