* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Logo
{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.navbar
{
    padding: 5px 50px;
    justify-content: space-between;
}
.list
{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-weight: 500;
}