<div class=" row navbar">
        <div class="col-3">
            <a>
                 <img src="..\assets\Images\Logo.png" class="Logo" alt="" >
            </a>
        </div>
        <div class="col-7 row">
            <ul class="list col-12 row">
                <li class="col">
                    <a class="nav-link" >Home
                    </a>
                </li>
                <li class="col">
                    <a class="nav-link">About Us</a>
                </li>
                <li class="col">
                    <a class="nav-link">Our Mission</a>
                </li>
                <li class="col">
                    <a class="nav-link">Our Vision</a>
                </li>
                <li class="col">
                    <a class="nav-link">Events</a>
                </li>
                <li class="col">
                    <a class="nav-link">Contact US</a>
                </li>
            </ul>
        </div>
            
</div>
