<div class="mainContainer row align-items-start justify-content-center">
    <div class="sideBar container col-2 row  justify-content-center align-items-start text-center">
        <div class="logo col-12 row justify-content-center align-items-end mt-5 text-center w-100">
            <img src="../../../assets/Images/Logo.png" alt="IMG" class="logo col-12 ">
            <h1 class="col-12 align-self-center w-100 text-center w-100">Sabeel</h1>
        </div>
        <div class="nav row justify-content-center align-items-start" >
            <button class="btn btn-outline-primary col-10" (click)="GoToAbout()">About Sabeel</button>
            <button class="btn btn-outline-primary col-10" (click)="GoToEvents()">Events</button>
            <button class="btn btn-outline-primary col-10" (click)="GoToContacts()">Contact Us</button>
            <button class="btn btn-outline-primary col-10" (click)="GoToTeam()">Team</button>
        </div>
    </div>
    <div class="content align-items-start">
        <router-outlet></router-outlet>
    </div>
</div>